body {
	background-image: url("../resources/index-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#container {
	position: relative;
	margin-top: 5%;
	width: 100%;
	height: 100%;
}

#description_wrap {
	background-image: url("../resources/madera.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: top;  /*vertical align ayuda a alinear elementos inline verticalmente, eso porque description wrap se bajaba*/
	display: inline-block;
	word-wrap: break-word; /*word-wrap break word sirve para ajustar un texto a un contenedor de forma liquida*/
	width: 70%;
	padding: 2%;
	text-align: justify;
}

#last_adventure_wrap {
	background-image: url("../resources/madera.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: top;
	word-wrap: break-word;
	display: inline-block;
	width: 20%;
	float: right;
	padding: 2%;
	text-align: justify;
}

.image_description {
	margin-top: 10px;
	margin: 0px auto 0px;
	width: 100px;
	height: 100px;
	background-image: url("../resources/last-adventure.jpg");
	background-repeat: no-repeat;
	background-size: cover; /*cover auto ajusta el tamaño de la imagen al contenedor*/
}

.menu_wrap {
	left: 1%;
	right: 1%;
	position: fixed;
	width: 98%;
	margin: 0% auto 0%; /*centra contenido, el auto crea el margin left y right para que crezcan al mismo tamaño en ambas direcciones*/
	z-index: 1;
	top: 0px;			/*top cero es para que quede justo hasta arriba de la pantalla del navegador, de lo contrario queda abajo*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00bcd4;
}

li {
	margin-left: 17.5%;
	display: inline-block;
}

li a {
    display: block;			/*block respeta margin o paddings, heigth o width, inline no*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #00BDFF;
}


